<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
        function UploadFile() {
            var form=$('#uploadForm')[0];
            var formData = new FormData(form);
            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "/upload",
                data: formData,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function (data) {
                    if (data=="ok"){
                        alert("업로드에 성공하였습니다.");
                        location.href="/";
                    }
                    else if(data=="empty"){
                        alert("빈 파일입니다 파일을 지정해주세요");
                        location.href="/fileUpload";
                    }
                    console.log("SUCCESS : ", data);
                },
                error: function (e) {
                    console.log("ERROR : ", e);
                }
            });


        }
    </script>
</head>
<body>
<h1>파일 업로드</h1>
<form method="post" enctype="multipart/form-data" id="uploadForm">
    <input type="file" value="파일 선택" name="file"/>
    <button type="button"  onclick="UploadFile();">TEst</button>
</form>
</body>
</html>



<!--<!DOCTYPE html>-->
<!--<html lang="ko" xmlns:th="http://www.thymeleaf.org">-->
<!--<h1>파일 업로드</h1>-->
<!--<form action="/upload" method="post" enctype="multipart/form-data" id="uploadForm">-->
<!--    <input type="file" value="파일 선택" name="file"/>-->
<!--    <input type="submit" value="업로드"/>-->
<!--</form>-->
<!--</html>-->