<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
        function fileCheck() {
            var maxSize  = 100 * 1024 * 1024;
            var fileSize = 0;


          if(document.uploadForm.file.value==""){
              alert("빈 파일 입니다.");
              location.href="/fileUpload";
          }
          else {
              fileSize=document.uploadForm.file.files[0].size;
              if(fileSize<maxSize){
                  UploadFile();
              }
              else{
                  alert("허용 용량 초과입니다.");
                  location.href="/fileUpload";
              }

          }


        }
        function UploadFile() {
            var form=$('#uploadForm')[0];
            var formData = new FormData(form);


            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "/upload",
                data: formData,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function (data) {
                    if (data=="ok") {
                        alert("업로드에 성공하였습니다.");
                        location.href = "/";
                    }
                    else if(data=="Not Mp4"){
                        alert("동영상은 Mp4형식만 지원합니다.");
                        location.href = "/fileUpload";
                    }
                    else if(data=="no support"){
                        alert("이미지와 mp4 파일형식만 지원합니다.");
                        location.href = "/fileUpload";
                    }

                },
                error: function (data,e) {
                    console.log("ERROR : ", e);
                    alert("업로드에 실패하였습니다.");
                    location.href = "/";
                }
            });


        }
    </script>
</head>
<body>
<h1>파일 업로드</h1>
<form method="post" enctype="multipart/form-data" id="uploadForm" name="uploadForm">
    <input type="file" value="파일 선택" name="file"/>
    <button type="button"  onclick="fileCheck();">업로드</button>
</form>
</body>
</html>

